//
// Name: Juvo
// Website URI: http://gemmahaylett.github.io/JUVO/
// Author: Gemma Haylett
// Author URI: http://www.gemmahaylett.com
//

//-----------------------------------------------------------------------------------
//  1.0 Reset
//-----------------------------------------------------------------------------------

$teal: #32bfca;
$yellow: #f4d130;
$lightgrey: #f9f8f4;
$darkgrey: #666666;
$white: #FFF;
$mediumgrey: #eee;

$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto Slab', serif;

$main-text-color: $darkgrey;
$main-header-color: $white;
$background-color: $lightgrey;
$secondary-background-color: $teal;
$header-typeface: $montserrat;
$text-typeface: $roboto;
$primary-color: $teal;
$secondary-header-color: $darkgrey;
$secondary-color: $yellow;
$lightness: $teal;
$timeline-color: #d9d9d9;

//-----------------------------------------------------------------------------------
//  2.0 General Styles
//-----------------------------------------------------------------------------------

body {
  background-color: $background-color;
}

// --- Headings --- 

h2,
h3,
h4,
h5,
h6 {
  font-family : $header-typeface;
  line-height: 1.4;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

h1 {
  font-family : $header-typeface;
  font-weight : bold;
  font-size : 72px;
  color : $main-header-color;
  background-color: $secondary-color;
  text-align: center;
  display: inline-block;
  clear: both;
  margin-top: 100px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

h2 {
  font-family : $header-typeface;
  font-weight : bold;
  font-size : 48px;
  color: $secondary-header-color;
  text-transform: uppercase;
}

h4 {
  font-size : 24px;
  text-transform : uppercase;
  color : $main-header-color;
}

// --- Text Elements ---

p {
  font-family: $text-typeface;
  font-size : 24px;
  color : $main-text-color;
  margin-bottom: 1.25rem;
}

ul{
  margin-bottom: 1.25rem;
}

// --- Links ---

a:hover {
  color: $teal;
}

.button {
  text-transform: uppercase;
  font-weight: normal;
  letter-space: 2px;
  color: white;
  padding: 10px 20px 11px;
  border-radius: 2px;
  text-aligh: center;
  font-size: 15px;  
  background-clip: padding-box;
  box-shadow: 0px 4px 0px rgba(38,148,150,.8);
  background-color: #63bdbd; // Old browsers
  @include filter-gradient(#63bdbd, #31bfca, vertical); // IE6-9
  @include background-image(linear-gradient(top, #63bdbd 0%,#31bfca 100%));
}

a {
  font-family : $montserrat;
  font-size : 16px;
  color : $main-text-color;
  font-weight: thin;
}

// --- Footer ---

footer {
  background-color: $secondary-background-color;
  padding: 20px 0;

  p{
    color: $white;
    margin-bottom:0;
  }
}

.header {
  background-color: $secondary-color;
  padding: 35px 0px; 
  margin-bottom: 20px;

  h2 {
    color: $white;
    display: inline-block;
  }

  p {
    font-size: 20px;
    font-weight: 100;
    display: block;
  }

  .button {
    display: inline-block;
  }
}

label, 
legend {
  font-family: $roboto;
}

//-----------------------------------------------------------------------------------
//  4.0 Navigation Bar
//-----------------------------------------------------------------------------------

.logo {
  margin-top: 10px;
}

.button-group li {
  margin: 20px;
}

//-----------------------------------------------------------------------------------
//  5.0 Homepage Styles
//-----------------------------------------------------------------------------------

.featured-fund {
  margin-bottom: 27px;
  
  p {
     font-size: 15px;
     font-weight: thin;
     color: white;
  }
}

.highlights{
  margin: 90px 0px;
}

.featured-fund-container {
  background-color: $secondary-color;
  padding: 30px 0; 

  h2 {
    color: $main-header-color;
  }
  
  figure {
    margin: 0px;
    position: relative;

    img {
      max-width: 100%;
      display: block;
      position: relative;
    }
  } 

  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: rgb(54, 25, 25);
    background: rgba(54, 25, 25, .4);

    h4 {
      margin: 0;
      padding: 0;
      color: #fff;
    }

    a {
      text-align: center;
      padding: 5px 10px;
      border-radius: 2px;
      display: inline-block;
      background: $teal;
      color: #fff;
    }
  }
}

.hero {
  height: 400px;
}

.search {
  background-color: $teal;
  padding-top: 20px;

  label {
    color: white;
  }

 .button{
  box-shadow: none;
  background-color: $yellow; // Old browsers
  @include filter-gradient($yellow, #31bfca, vertical); // IE6-9
  @include background-image(linear-gradient(top, $yellow 0%,#CEC71B 100%));
 }
}

//-----------------------------------------------------------------------------------
//  6.0 Dashboard
//-----------------------------------------------------------------------------------

.owner-dashboard {
  background-color: $white; 
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 1px 5px 0px #C7C7C7;
  box-shadow: 1px 1px 5px 0px #C7C7C7;
  height: 302px;
  position: relative;
}

.charity-owner, 
.comments {
  color: $darkgrey;
  background-color: $mediumgrey;
  padding: 15px 15px 5px 25px;

  h3{
    color: $teal;
    font-size: 40px;
  }
}

.profile {
  position: relative;

  a {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

//-----------------------------------------------------------------------------------
//  6.0 Charity Profile View and Edit Styles
//-----------------------------------------------------------------------------------

.charity {
  padding: 10px 35px
}

.charity-container {
  background-color: $white; 
  margin-bottom: 20px;
  padding: 10px 10px 0px 10px;
  -webkit-box-shadow: 1px 1px 5px 0 #C7C7C7;
  box-shadow: 1px 1px 5px 0 #C7C7C7;
  height: 500px;
  position: relative;

  h4 {
    color:$teal;
    font-size: 16px; 
    padding: 15px 0px 5px 0px;
    margin: 0px;
    font-weight: bold;
  }

  p {
    padding: 5px 0px 15px 0px;
    font-size: 12px;
    margin-bottom: 0px;
  }

  a {
    margin: 0px 0px 10px 0px;
    bottom: 8px;
    position: absolute;
  }
}

.charity-status {
  h2 {
    position: absolute;
    color: #32bfca;
    top: 85px;
    left: 87px;
    font-size: 35px;
  }

  h4 {
    position: absolute;
    top: 240px
  }

  height: 0;
}

.donate-sum {
  padding: 20px;
  margin-bottom: 20px;
  color: $lightgrey;
  -webkit-box-shadow: 1px 1px 5px 0 #C7C7C7;
  box-shadow: 1px 1px 5px 0px #C7C7C7; 

  h2{
    color: white;
    font-size: 72px;
    line-height: 1;
  }

  h3{
    font-size: 60px;
    line-height: 1;
    color: white;
    margin: 20px;
    text-transform: uppercase;
  }

  h5, h6{
    color: $darkgrey;
    line-height: 1;
  }

  p{
    color: $darkgrey;
    font-weight: 100;
  }

}

.donate-container {
  background-color: white;
  padding: 10px 10px 2px 10px;
  margin-bottom: 20px;
  width: 230px;
  height: 375px;
  position: relative;
  -webkit-box-shadow: 1px 1px 5px 0px #C7C7C7;
  box-shadow: 1px 1px 5px 0px #C7C7C7;

  h2 {
    position: absolute;
    color: #32bfca;
    top: 175px;
    left: 81px;
    font-size: 35px;
  }

  h4 {
    top: 320px;
    position: absolute;
  }

  .button{
    margin-left: 3px;
  }
}

.social {

  .button {
    box-shadow: none;
    padding: 24px 25px;
    margin: 0px;
  }
  
  .facebook {
    background: url(../images/64-facebook.png) no-repeat; 
    background-size: 50px;
  }

  .twitter {
    background: url(../images/64-twitter.png) no-repeat; 
    background-size: 50px;
  }

  .googleplus {
    background: url(../images/64-googleplus.png) no-repeat; 
    background-size: 50px;
  }

}

// --- Gallery Styles ---

#edit-gallery {
  heigth: 255px;
  margin-bottom: 20px;
}

#profile-gallery, 
#edit-profile-gallery, 
#charity-gallery, 
#edit-gallery {
  height: 355px;

  .dz-error-mark {
    span {
      padding: 0px;
    }
  }

  .dz-error-message {
    span {
      font-size: 12px;
      padding: 0px;
    }
  }

  .dz-message {
    span {
      font-size: 20px;
      display: block;
      text-align: center;
      color: $darkgrey;
      padding-top: 140px;
      font-family: $roboto;
    }
  }
}

.reveal-modal .deletePhoto {
  @extend .close-reveal-modal;
  right: 25px;
  color: $darkgrey;
}

#edit-gallery-button {
  position: absolute;
  top: 140px;
  right: 80px;
}

// --- Container for charity update status ---

.update {
  margin-bottom: 25px;
}

// Pagination

ul.pagination li.current a, 
.sub-nav li.active a {
  background: $teal;
}

.profile {
  margin-bottom: 15px;

  p {
    font-size: 15px;
  }
}

// Update & Comment Section

.comments {
  -webkit-box-shadow: 1px 1px 5px 0px #C7C7C7;
  box-shadow: 1px 1px 5px 0px #C7C7C7;
  background-color: $white;

  img {
    display:inline;
    float:left;
    width:8em;
    margin-right:1em;
  }
}

.hide-comment {
  height: 45px;
  width: 130px;
}

// Accordion for Creating Updates 

.accordion dd > a {
  display: inline-block;
  background:$teal;
  color: white;
}

.accordion dd > a:hover {
  display: inline-block;
  background:$teal;
  color: white;
}

.accordion dd.active a {
  background: $teal;
}

#create-update.button {
  margin: 27px 15px 0px 0px;
}

.dashboard, 
.charity {
  h4 {
    color: $darkgrey;
    text-transform: none;
    font-size: 20px;
    line-height: 1;
  }

  p {
    font-size: 17px;
    font-weight: 100;
  }
}


//-----------------------------------------------------------------------------------
//  6.0 Create Fundraiser
//-----------------------------------------------------------------------------------

.odd {
  background-color: $teal;
}

.even {
  background-color: $yellow;
}

#Grid .mix {
  opacity: 0;
  display: none;
}

.tabs {
  dd > a {
    font-family: $montserrat;
    text-transform: uppercase;
  }
}

#create-fund, 
#create-profile {
  margin-top: 25px;

  h5{
    background: $teal;
    color: white;
    padding: 15px;
    margin: 0px;
  }

  p{
    color: $darkgrey;
    font-weight: 100;
    font-size: 15px;
  }

  .right-container, 
  .left-container {
    span.step-num {
      padding: 22px 26px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-color: $timeline-color;
      color: white;
      display: inline-block;
    }
  }
}

.left-container, 
.right-container {
  input[type="text"], 
  select{
    margin: 0;
  }
}

.left-container {
  width: 42%;
  position: relative;
  float: left;
  background-color: white;
  margin-bottom:4em;
  -webkit-box-shadow: 1px 1px 5px 0px #C7C7C7;
  box-shadow: 1px 1px 5px 0px #C7C7C7;
}

.left-container:after {
  content: "";
  position: absolute;
  top: 18px;
  right: -10px;
  border-style: solid;
  border-width: 12px 0px 12px 12px;
  border-color: transparent $teal;
  display: block;
  width: 0;
  z-index: 1;
}

.right-container {
  position: relative;
  float: right;
  width: 42%;
  background-color: white;
  margin:2em 0;
  -webkit-box-shadow: 1px 1px 5px 0px #C7C7C7;
  box-shadow: 1px 1px 5px 0px #C7C7C7;
}

.right-container:after {
  content: "";
  position: absolute;
  top: 15px;
  left: -10px;
  border-style: solid;
  border-width: 12px 12px 12px 0px;
  border-color: transparent $teal;
  display: block;
  width: 0;
  z-index: 1;
}

.step-num {
  right: 450px;
  position: absolute;
  cursor: pointer;
  width: 62px;
  height: 62px;
  display: block;
  margin-left: -31px;
  top: 5px;
}

.left-container .step-num {
  left: 490px;
}

textarea {
  margin: 0;
}

#short-desc, 
#profile-desc {
  margin-top: 100px;
}

#fund-story {
  textarea {
    height:250px;
  }
}

#profile-desc {
  textarea {
    height:150px;
  }
}

#profile-photo {
  margin-top: 100px;
}

#create-fund:before, 
#create-profile:before {
  position:absolute;
  content:"";
  background-color:$timeline-color;
  left:50%;
  top:30px;
  height:95%;
  width:6px;
  margin-left:2px;
}

.create-fund-content, 
.create-profile-content {
  padding: 10px 15px 15px 15px;
}

.content {
  .button {
    margin-top: 15px;
    margin-right: 0px;
  }

  textarea {
    height: 250px;
  }

  p{
    margin-bottom: 0px;
  }
}

//-----------------------------------------------------------------------------------
//  3.0 Java Script Library Styles
//-----------------------------------------------------------------------------------

// --- Homepage Sign In/Sign Out Container ---

.slide-out-menu {
  background-color: $yellow;

  p {
    font-size: 20px;
    color: white;
    line-height: 1;
  }

  h2 {
    color: white;
  }

  input[type="text"] {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.st-container,
.st-pusher,
.st-content {
  height: 100%;
}

.st-content {
  overflow-y: scroll;
  background: $background-color;
}

.st-content,
.st-content-inner {
  position: relative;
}

.st-container {
  position: relative;
  overflow: hidden;
}

.st-pusher {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.st-pusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.st-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  visibility: hidden;
  width: 400px;
  height: 100%;
  background: $yellow;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.st-menu::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

// --- Sign In Slideout affect ---

.st-effect-2.st-menu-open .st-pusher {
  -webkit-transform: translate3d(-400px, 0, 0);
  transform: translate3d(-400px, 0, 0);
}

.st-effect-2.st-menu {
  z-index: 1;
}

.st-effect-2.st-menu-open .st-effect-2.st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.st-effect-2.st-menu::after {
  display: none;
}

// --- Sign Up Slideout affect --- 

.st-effect-3.st-menu-open .st-pusher {
  -webkit-transform: translate3d(-400px, 0, 0);
  transform: translate3d(-400px, 0, 0);
}

.st-effect-3.st-menu {
  z-index: 1;
}

.st-effect-3.st-menu-open .st-effect-3.st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.st-effect-3.st-menu::after {
  display: none;
}

// --- Caption Style 3 for Featured Fundraiser overlay animation ---

.cs-style-3 figure {
  overflow: hidden;
}

.cs-style-3 figure img {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

.cs-style-3 figcaption {
  height: 100%;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0.0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

// Fallback example for browsers that don't support 3D transforms (and no JS fallback)

.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
  padding-left: 300px;
}

// --- Modal Styles ---

#donate-modal, 
#edit-charity-modal, 
#edit-update-modal, 
#profile-modal, 
#edit-gallery-modal {

  h2 {
    color: $teal;
    margin-bottom: 10px;
  }

  textarea {
    height:150px;
    margin-bottom: 25px;
  }
}

#edit-charity-modal {
  .shortDescText{
    height:30px;
  }
}

#edit-gallery-modal {
  .cs-style-3 figure {
    overflow: hidden;
    margin: 0;
    position: relative;
  }

  .button{
    margin-top: 10px;
  }

  img{
    margin-bottom: 10px;
  }

  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: rgb(54, 25, 25);
    background: rgba(54, 25, 25, .4);

    a {
      text-align: center;
      padding: 5px 10px;
      border-radius: 2px;
      display: inline-block;
      background: $teal;
      color: #fff;
    }
  }
}

#profile-modal {
  .button{
    margin-top: 15px;
  }
}

// --- Styles for tabs in charity page ---

#panel2-1 {
  .row{
    margin: 15px 0;
  }
}

.tabs dd.active {
  z-index:1;
  a{
    box-shadow: 5px 0px 6px -5px #C7C7C7, -5px 0px 6px -6px #C7C7C7;
  }
}

.tabs-content > .content {
  padding: 0;
}

// --- Create Fundraiser Date ---

.month {
  width:45%;
}

.day{
  width:20%;
}

.year {
  width:32%;
}

// --- JS Chart styles ---

.donate-container, 
.charity-status {
  canvas {
    position: relative;
    top: -30px;
    right: 3px;
  }
}

.stat-chart {
  margin-bottom: 20px;

  h3 {
    margin: 10px 0;
    color: $teal;
  }
}

// --- JS Orbit slider ---

.example-orbit {
  position:relative;
}

// --- JS Filter ---

.sub-nav li.active a:hover {
  background-color: $teal;
}
